{% extends "base.html" %}
{% load static %}

{% block page_content %}


<div class="container">
    <div class="row">
        <div class="col-sm">

            <h1>Peachboard</h1>

            Copy and pasting Cardinality's https://github.com/cardinalitypuzzles/cardboard

            {% if is_google_auth_enabled %}
                <a href="{% url 'social:begin' 'google-oauth2' %}"><img src="{% static 'signin.png' %}" alt="Login with Google" ></a>
            {% else %}
                <a class="btn btn-primary" href="{% url 'login' %}">Log in</a>
                <a class="btn btn-primary" href="{% url 'signup' %}">Sign Up</a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
